<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card-body">
                <h5 class="card-title"><%= link_to 'Posts', posts_path %><br><h5>
                <h5 class="card-title"><%= link_to 'New Post', new_post_path %><br><h5>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h1><%= @user.name %>'s Profile</h1>
                    <div class="card mb-3">
                        <p class="card-img-top" alt="Card image cap" style="object-fit: cover; height: 200px;">
                            <%= image_tag @user.image, class: "rounded-circle", style: "height: 100%;" if @user.image.attached? %>
                        </p>

                        <div class="card-body">
                            <h5 class="card-title"><%= @user.email %><br><h5>
                            <h5 class="card-title"><%= @user.introduction %><br><h5>
                            <% if current_user.id == @user.id%>
                            <h5 class="card-title"><%= link_to 'Edit Profile', edit_user_path(@user) %><br><h5>
                            <% end %>
                        </div>
                    </div>
            <% @user.posts.each do |post| %>
                <div class="card mb-3">
                    <a href="<%= post_path(post) %>">
                        <div class="aspect-ratio">
                            <%= image_tag post.image, class: "card-img-top" if post.image.attached? %>
                        </div>
                    </a>
                    <div class="card-body" style="background-color: #f8f9fa;">
                        <h5 class="card-title" style="margin-bottom: 0;"><%= post.user.name %></h5>
                        <div class="card-text">
                            <p class="mb-0"><%= post.text %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>